/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CONTENT */

body {
    font-family: sans-serif;
}

.container {
    width: 1200px;
    background: #ccc;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}

.title {
    padding-top: 200px;
    font-size: 40px;
    font-weight: bold;
    color:  rgb(200,0,0);
}

.text {
    padding-top: 50px;
    font-size: 36px;
    font-weight: 700;
    color: rgb(0,0, 150);
}

#password {
    padding-top: 70px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0,100 ,0);
}